*{
    padding: 0%;
    margin: 0%;
}
.navbar{
    height: 5em;
}
h3{
    color: #ffffff;
    padding-top: 10px;
    font-family: monospace;
    font-size: x-large;
}
h5{
    color: #000000;
    padding-right: 20px;
}
.addNew{
    width: 70%;
    margin-top: 2%;
    vertical-align: middle;
    padding-left: 33%;
}
#addNew{
    width: 70%;
    height: 35px;
    border: #000000, solid,;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.459);
}
#addBtn{
    width: 50px;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.459);
}

